<ng-template *ngIf="tampil; then templatetrue; else templatefalse"></ng-template>

<ng-template #templatetrue>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button color="black"></ion-back-button>
       <ion-title>tab4</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
	<ion-content>
  <ion-img [src]="linkPOTO"></ion-img>
</ion-content>

</ng-template>

<ng-template #templatefalse>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-title>tab4</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
</ng-template>



