<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Identity
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

 <ion-content class="ion-text-center">
      <ion-card-title>Michael Alexander Rustan</ion-card-title>
       <ion-card-title>C14180175</ion-card-title>
          <ion-card-title>c14180175@john.petra.ac.id</ion-card-title>
          <ion-card-title>082157802088</ion-card-title>
 
  </ion-content>


</ion-content>
